<h1>Twee77er Clone App</h1>

<p>Hi <%= @user.name %></p>

<p>Please click the link below in order to reset your password:</p>

<%= link_to "Password reset", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Link will expire in two hours.</p>

<p>If you have not requested password reset please ignore this email and your password will not be changed.</p>
